/*-------------------
    RESET
--------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*-------------------
    COMMON
--------------------*/
body {
    background-color: #eee;
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/img-bingo-fix.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.container {
    text-align: center;
    max-width: 62.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin: 0 auto;
}

main {
    margin-top: 1.5625rem;
    min-height: 100vh;
}

/*-------------------
    HEADER
--------------------*/
header {
    text-align: center;
}

/*-------------------
    BOARD
--------------------*/

.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.board__number {
    height: 3.75rem;
    width: 3.75rem;
    background-color: white;
    color: black;
    font-size: 1.4rem;
    text-align: center;
    line-height: 3.75rem;
    border: 1px solid #000;
}
.board__number--selected {
    background-color: green;
}

/*-------------------
    ACTIONS
--------------------*/
.actions {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
}

.generator {
    width: 150px;
    text-align: center;
    padding: .625rem;
    background-color: white;
    border: .0313rem solid #000;
    border-radius: .625rem;
}
.generator__number {
    font-weight: bold;
    font-size: 2rem;
    margin-top: .625rem;
    padding-bottom: .3125rem;
}

.buttons{
    padding: .3125rem .625rem;
    border-radius: .625rem;
}

.hidden{
    display: none;
}

/*-------------------
    HEADER
--------------------*/

.main-title{
   padding-top: .625rem;
}

/*-------------------
    MAIN
--------------------*/

.background-panel{
    margin-right: 4.375rem;
    margin-left: 4.375rem;
    padding: 3.125rem 0;
    border-radius: .625rem;
    background-color: rgba(0, 0, 0, 0.5);
}

.timer{
    padding-bottom: 1.25rem;
    color: white;
}

/*-------------------
    FOOTER
--------------------*/

footer{
    background-color: white;
}